*{
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: rgb(241, 239, 239)
}

body {
    background-color: rgb(32, 31, 31);
}

#window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    margin-bottom: 15px;
}

#shadow {
    background-color: rgb(56, 54, 54);
    width: 500px;
    height: 6px;
}

#appborder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 650px;
    border-radius: 35px;
    background-color: rgb(255, 16, 31);
    box-shadow: aqua;
}

#controls {
    height: 100px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer {
    font-size: 30px;
    margin-top: 50px;
}

#grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#slider {
    display: flex;
    flex-direction: column;
}

#resetButton,
#blackButton {
    width: 120px;
    height: 40px;
    background-color: white;
}
