*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(41, 39, 39);
}

#window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header {
    font-weight: bold;
    font-size: 54px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    color: rgb(145, 10, 10);
}

#appborder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;
    background-color: rgb(148, 4, 11);
}

#controls {
    height: 100px;
    width: 500px;
    background-color: rgb(34, 32, 32);
}

#footer {
    font-size: 30px;
    margin-top: 50px;
}

#grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

